/* ---------------------------------------- Variables */

:root {
    --violet-red: #B82677;
    --opal: #A9D2CC;
    --mandarin: #EB7545;
    --cultured: #F4F5F7;
    --raisin-black: #211F20;
}

/* ---------------------------------------- CSS Reset */

h1, h2, h3, h4 {
    color: var(--violet-red);
}

.fas, .fas::before {
    color: var(--violet-red);
}

/* ---------------------------------------- Header */

nav {
    background: white;
}

a.brand-logo, nav li a {
    color: var(--violet-red);
}

/* ---------------------------------------- Buttons */

button.btn-large, button::after {
    background: white;
    color: var(--violet-red);
}

.btn-large:hover, .btn-large:focus {
    background: white;
    /* box-shadow: 0 0 10px #000; */
    box-shadow: 3px 6px 10px #888888;
}

.btn, .btn-small, .btn-large {
    margin: 5px;
}

.btn-absolute {
    position: absolute;
    bottom: 60px;
    right: 10px;
}

/* ---------------------------------------- Flash messages */

.flashes h5 {
    line-height: 2.5;
    background: var(--opal);
}

/* ---------------------------------------- Search area */

.search-button-field, .search-input-field {
    display: inline-block;
}

.search-input-field {
    width: 70%;
}

.search-area {
    margin:auto;
}

/* ---------------------------------------- Yoga Classes on Cards */

.card-content .fa-solid {
    color: var(--violet-red);
}

.card-content p {
    padding: 3px 0;
}

.card-reveal .fa-solid {
    color: var(--violet-red);
    padding-right: 10px;
}

.card-reveal .fa-info {
    padding-right: 15px;
}

.card-action .activator {
    color: var(--violet-red);
    cursor: pointer;
}
