/* ---------------------------------------- Variables */

:root {
    --violet-red: #B82677;
    --opal: #A9D2CC;
    --mandarin: #EB7545;
    --cultured: #F4F5F7;
    --raisin-black: #211F20;
}

/* ---------------------------------------- CSS Reset */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex-grow: 1;
}

h1, h2, h3, h4, h5 {
    color: var(--violet-red);
}

/* ---------------------------------------- Special text/paddings/margins */

.fas, .fas::before {
    color: var(--violet-red);
}

h2 {
    margin-bottom: 50px;
}

.card-panel {
    padding: 10% 10% 2% 10%;
}

.profile-card {
    padding: 2% 10%;
    margin-top: 10px;
}

/* ---------------------------------------- Header */

nav {
    background: white;
}

a.brand-logo, nav li a {
    color: var(--violet-red);
}

nav .nav-wrapper {
    padding: 0 2%;
}

/* ---------------------------------------- Buttons */

button.btn-large, button::after {
    background: white;
    color: var(--violet-red);
}

.btn-large:hover, .btn-large:focus, .btn-small:hover, .btn-small:focus {
    background: white;
    /* box-shadow: 0 0 10px #000; */
    box-shadow: 3px 6px 10px #888888;
}

.btn, .btn-small, .btn-large {
    margin: 5px;
}

.btn-absolute {
    position: absolute;
    bottom: 60px;
    right: 10px;
}

/* ---------------------------------------- Flash messages */

.flashes h5 {
    line-height: 2.5;
    background: var(--opal);
}

/* ---------------------------------------- Search area */

.search-button-field, .search-input-field {
    display: inline-block;
}

.search-input-field {
    width: 70%;
}

.search-area {
    margin:auto;
}

/* ---------------------------------------- Yoga Classes on Cards */

.card-content .fa-solid {
    color: var(--violet-red);
}

.card-content p {
    padding: 3px 0;
}

.card-reveal .fa-solid {
    color: var(--violet-red);
    padding-right: 10px;
}

.card-reveal .fa-info {
    padding-right: 15px;
}

.card-action .activator {
    color: var(--violet-red);
    cursor: pointer;
}

/* ---------------------------------------- Pagination */

.pagination {
    line-height: 40px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
}

.pagination li {
    height: unset;
}

.pagination li.active {
    background-color: var(--violet-red);
}

.pagination a:not(.active) {
    padding: 4px 15px 6px;
    margin: 0 5px;
    border-radius: 2px;
    vertical-align: top;
}

.pagination .active .page-link {
    padding: 4px 10px;
}

/* ---------------------------------------- Footer */

.footer-container {
    background-color: var(--violet-red);
    color: white;
    min-height: 60px;
    padding: 15px;
    margin-top: 40px;
}

.footer-div {
    padding: 0 50px;
}

.social-links li {
    display: inline-block;
    margin: 0 20px;
}

.social-links i {
    color: white;
    font-size: 20px;
}

/* ---------------------------------------- Media queries */

@media only screen and (max-width: 598px) {
    .footer-div {
        padding: 0;
        text-align: center;
    }

    ul.social-links {
        text-align: center;
    }
}
